*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    background: #737278;
    overflow: hidden;
}
.container .logo{
    width: 20vh;
    max-width: 150px;
    padding: 10px;
    margin: 10px;
}
.container a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
.conainer a:hover{
    background-color: aqua;
    color: blue;
}
.container a.active{
    background-color: brown;
    color: chocolate;
}